<h1>Triangle</h1>
 <h4>Please input three numbers to determine the type of triangle you have!(or don't have!)</h4>

 <form action="/result">
   <div class="form-group">
      <label for="side1">First number</label>
      <input id="side1" name="side1" class="form-control" type="text"></input>
      <label for="side2">Second number</label>
      <input  id="side2" name="side2" class="form-control" type="text"></input>
      <label for="side3">Third number</label>
      <input  id="side3" name="side3" class="form-control" type="text"></input>
   </div>
   <button type="submit" class="btn btn-success">Go</button>
 </form>

 <div id="output">
   <h3>Triangle type:</h3>
   <h5>Side1: <%= @side1%></h5>
   <h5>Side2: <%= @side2%></h5>
   <h5>Side3: <%= @side3%></h5>
   <%= @triangle %>
 </div>
