<h1>Triangle</h1>
 <h2>Please input three numbers to determine the type of triangle you have!(or don't have!)</h2>

 <form action="result">
   <div class="form-group">
      <label>First number</label>
      <input name="side1" class="form-control"></input>
      <label>Second number</label>
      <input name="side2" class="form-control"></input>
      <label>Third number</label>
      <input name="side3" class="form-control"></input>
   </div>
   <button type="submit" class="btn btn-success">Go</button>
 </form>
 <div id="output">
   <h3>Triangle type:</h3>

 </div>
